---
http_interactions:
- request:
    method: get
    uri: https://okey.link/api/v1/get-urls?epp=2&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<OKEY_LINK_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":true,"data":{"urls":[],"pages":{"current":1,"total":0,"epp":2}}}'
  recorded_at: Thu, 26 Nov 2015 19:11:40 GMT
recorded_with: VCR 3.0.0
