---
http_interactions:
- request:
    method: get
    uri: https://okey.link/api/v1/get-urls?epp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<OKEY_LINK_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":true,"data":{"urls":[{"url":"http:\/\/example.com","short":"http:\/\/okey.link\/529Y","clicks":0,"cpd":0}],"pages":{"current":1,"total":1,"epp":1}}}'
  recorded_at: Thu, 26 Nov 2015 18:57:26 GMT
recorded_with: VCR 3.0.0
