---
http_interactions:
- request:
    method: post
    uri: https://okey.link/api/v1/make-short-url
    body:
      encoding: UTF-8
      string: url=http%3A%2F%2Fexample.com
    headers:
      Access-Token:
      - "<OKEY_LINK_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":true,"data":{"url":"http:\/\/example.com","short":"okey.link\/529Y"}}'
  recorded_at: Thu, 26 Nov 2015 18:20:55 GMT
recorded_with: VCR 3.0.0
