---
http_interactions:
- request:
    method: get
    uri: https://okey.link/api/v1/get-url-clicks?url=http://example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<OKEY_LINK_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":true,"data":{"url":"http:\/\/example.com","short":"http:\/\/okey.link\/4dyj","clicks":0,"cpd":0}}'
  recorded_at: Thu, 26 Nov 2015 19:09:31 GMT
recorded_with: VCR 3.0.0
